<tal:block metal:use-macro="main.html/main" i18n:domain="teke" tal:omit-tag="">

    <tal:block metal:fill-slot="content_body">
        <tal:block condition="teke/is_admin">

            <tal:block define="users teke/user/getAllUsers">
			    <table id="administrate-users">
                    <tbody>
						<tr>
							<th i18n:translate="">Username</th>
							<th i18n:translate="">Fullname</th>
							<th i18n:translate="">Email</th>
							<th i18n:translate="">Language</th>
							<th i18n:translate="">Registered</th>
							<th i18n:translate="">Last login</th>
							<th i18n:translate="">Role</th>
						</tr>

						<tr tal:repeat="user users">
							<td>
								<a href="" tal:attributes="href user/getURL" tal:content="user/getUsername"></a>
							</td>
							<td tal:content="user/getFullName"></td>
							<td>
								<tal:block define="value user/getEmail" metal:use-macro="outputs.html/email" />
							</td>
							<td tal:content="user/getLanguage"></td>
							<td>
								<tal:block define="value php:strtotime(user.registered)" metal:use-macro="outputs.html/fulldate" />
							</td>
							<td>
								<tal:block define="value php:strtotime(user.last_login)" metal:use-macro="outputs.html/fulldate" />
							</td>
							<td tal:content="user/getRole"></td>
						</tr>
					</tbody>
				</table>

            </tal:block>

        </tal:block>
    </tal:block>
    
</tal:block>
