<tal:block metal:use-macro="main.html/main" i18n:domain="teke" tal:omit-tag="">

    <tal:block metal:fill-slot="header">
	    <script type="text/javascript" src="" tal:attributes="src string:${WWW_ROOT}views/js/project_view.js"></script>
	</tal:block>

    <tal:block metal:fill-slot="content_body">
        <tal:block condition="teke/is_logged_in">

        <tal:block define="project teke/handler/getProjectById;">

            <tal:block define="project_exists project/id | false; is_member php:project_exists AND project.isMember(get_logged_in_user_id()) | false">
			<input type="hidden" id="project_id" value="" tal:attributes="value project/getId" />

                <tal:block condition="php:project_exists AND is_member">
				    <article class="single-project">
                        <h1 tal:content="project/title"></h1>

						<aside>
						    <ul>
								<li tal:define="tasks php:ProjectManager::getProjectTasks(project.getId())">
								    <fieldset>
										<legend i18n:translate="">Tasks</legend>
										<span class="teke-toggler teke-slide-toggler"></span>
										<span class="teke-delete-button"></span>
										<span id="add-task-button" class="teke-add-button"></span>
										<div class="clearfloat"></div>
										<div class="teke-togglable">
											<tal:block repeat="task tasks">
											    <div class="single-task ui-corner-all" title="" tal:content="task/getTitle" tal:attributes="title task/getDescription">
												</div>
											</tal:block>
										</div>
									</fieldset>
								</li>
                                <li tal:define="members project/getMembers">
								    <fieldset>
										<legend i18n:translate="">Participants</legend>
                                        <span class="teke-toggler teke-slide-toggler"></span>
                                        <span class="teke-delete-button"></span>
                                        <span class="teke-add-button"></span>
										<div class="teke-togglable">
											<tal:block repeat="member members">
											    <a href="" class="project-member" title="" tal:attributes="href member/getURL; title member/getFullname">
												    <img src="" alt="profile_image" tal:attributes="src member/getImageURL" />
												</a>
											</tal:block>
										</div>
									</fieldset>
								</li>
                                <li>
								    <fieldset>
										<legend i18n:translate="">Resources</legend>
                                        <span class="teke-toggler teke-slide-toggler"></span>
										<span class="teke-delete-button"></span>
                                        <span class="teke-add-button"></span>
										<div class="teke-togglable">
											CONTENTS PLACEHOLDER
										</div>
									</fieldset>
								</li>
                                <li tal:define="messages php:ProjectManager::getProjectMessages(project.getId())">
								    <fieldset>
										<legend i18n:translate="">Diary and Messages</legend>
                                        <span class="teke-toggler teke-slide-toggler"></span>
										<div class="teke-togglable">
											<div id="project-diary-and-messages-flow">
												<tal:block repeat="message messages">
												    <tal:block metal:use-macro="project.html/message" />
												</tal:block>
											</div>
											<div id="project-diary-and-messages-add">
												<input type="text" name="body" value="" class="text ui-widget-content ui-corner-all" style="width:140px;"/>
                                                <span class="teke-add-button"></span>
											</div>
											<div id="project-diary-and-messages-filter">
												<tal:block i18n:translate="">Show:</tal:block>
												<select>
													<option value="everything">Everything</option>
													<option value="activities">Activities</option>
													<option value="messages">Messages</option>
												</select>
											</div>
										</div>
									</fieldset>
								</li>
						    </ul>
						</aside>

					</article>
                </tal:block>

                <tal:block condition="php:project_exists AND NOT is_member">
				    <div i18n:translate="">No rights to see the project.</div>
                </tal:block>

                <tal:block condition="not:project_exists">
                    <div i18n:translate="">No such project.</div>
                </tal:block>

            </tal:block>

        </tal:block>

        </tal:block>
    </tal:block>

</tal:block>
