<tal:block metal:use-macro="main.html/main" i18n:domain="teke" tal:omit-tag="">

    <tal:block metal:fill-slot="header">
		<link type="text/css" rel="stylesheet" href="" tal:attributes="href string:${WWW_ROOT}views/css/jquery.qtip.min.css" />
		<script type="text/javascript" src="" tal:attributes="src string:${WWW_ROOT}views/js/jquery.qtip.min.js"></script>
	    <script type="text/javascript" src="" tal:attributes="src string:${WWW_ROOT}views/js/project_view.js"></script>
	    <script type="text/javascript" src="" tal:attributes="src string:${WWW_ROOT}views/js/project_timeline.js"></script>
	</tal:block>

    <tal:block metal:fill-slot="content_body">
        <tal:block condition="teke/is_logged_in">

        <tal:block define="project teke/handler/getProjectById;" condition="project/getId | false">

            <tal:block define="project_exists project/id | false; is_member php:project_exists AND project.isMember(get_logged_in_user_id()) | false">
			<input type="hidden" id="project_id" value="" tal:attributes="value project/getId" />
			<input type="hidden" id="project_start" value="" tal:attributes="value php:strtotime(project.getStartDate())" />
			<input type="hidden" id="project_end" value="" tal:attributes="value php:strtotime(project.getEndDate())" />

                <tal:block condition="php:project_exists AND is_member">
				    <div id="single-project-content" class="single-project">
                        <h1 tal:content="project/title"></h1>
						<div>
							<span id="add-document-button" class="teke-add-button"></span>
						</div>

						<div id="aside">
						    <ul>
								<li tal:define="tasks php:ProjectManager::getProjectTasks(project.getId())">
								    <fieldset>
										<legend i18n:translate="">Tasks</legend>
										<span class="teke-toggler teke-slide-toggler project-side-widget-control"></span>
										<span class="teke-delete-button project-side-widget-control"></span>
										<span id="add-task-button" class="teke-add-button project-side-widget-control"></span>
										<div class="clearfloat"></div>
										<div class="teke-togglable" id="project-tasks">
											<tal:block repeat="task tasks">
											    <tal:block metal:use-macro="project.html/task" />
											</tal:block>
										</div>
									</fieldset>
								</li>
                                <li tal:define="members project/getMembers">
								    <fieldset>
										<legend i18n:translate="">Participants</legend>
                                        <span class="teke-toggler teke-slide-toggler project-side-widget-control"></span>
                                        <span class="teke-delete-button project-side-widget-control"></span>
                                        <span id="add-participant-button" class="teke-add-button project-side-widget-control"></span>
										<div class="teke-togglable">
											<div id="project-participants">
											    <tal:block repeat="member members">
											        <tal:block metal:use-macro="project.html/member" />
											    </tal:block>
										</div>
										</div>
									</fieldset>
								</li>
                                <li tal:define="resources php:ProjectManager::getProjectResources(project.getId())">
								    <fieldset>
										<legend i18n:translate="">Resources</legend>
                                        <span class="teke-toggler teke-slide-toggler project-side-widget-control"></span>
										<span class="teke-delete-button project-side-widget-control"></span>
                                        <span id="add-resource-button" class="teke-add-button project-side-widget-control"></span>
										<div class="teke-togglable" id="project-resources">
											<tal:block repeat="resource resources">
											    <tal:block metal:use-macro="project.html/resource" />
											</tal:block>
										</div>
									</fieldset>
								</li>
                                <li tal:define="flow php:ProjectManager::getProjectActivity(project.getId())">
								    <fieldset>
										<legend i18n:translate="">Diary and Messages</legend>
                                        <span class="teke-toggler teke-slide-toggler project-side-widget-control"></span>
										<div class="teke-togglable">
											<div id="project-diary-and-messages-flow">
												<tal:block repeat="activity flow">
												    <tal:block metal:use-macro="project.html/activity" />
												</tal:block>
											</div>
											<div id="project-diary-and-messages-add">
												<input type="text" name="body" value="" class="text ui-widget-content ui-corner-all" style="width:140px;"/>
                                                <span class="teke-add-button"></span>
											</div>
											<div id="project-diary-and-messages-filter">
												<tal:block i18n:translate="">Show:</tal:block>
												<select>
													<option value="everything">Everything</option>
													<option value="activities">Activities</option>
													<option value="messages">Messages</option>
												</select>
											</div>
										</div>
									</fieldset>
								</li>
						    </ul>
						</div>

                        <div id="project-timeline">
						</div>

					</div>
                </tal:block>

                <tal:block condition="php:project_exists AND NOT is_member">
				    <div i18n:translate="">No rights to see the project.</div>
                </tal:block>

                <tal:block condition="not:project_exists">
                    <div i18n:translate="">No such project.</div>
                </tal:block>

            </tal:block>

        </tal:block>

        </tal:block>
    </tal:block>

</tal:block>
