<tal:block metal:define-macro="add_project" i18n:domain="teke">
    <div id="add-project" class="teke-dialog-form" title="Add New Project" i18n:attributes="title">
		<fieldset>
			<label for="title" i18n:translate="">Title</label>
			<input type="text" name="title" id="title" class="text ui-widget-content ui-corner-all" />
			<label for="goal" i18n:translate="">Goal (255 characters, plaintext)</label>
			<textarea rows="3" cols="50" name="goal" id="goal" class="text ui-widget-content ui-corner-all"></textarea>
			<label for="start_end_date" i18n:translate="">Start/end dates</label>
			<div id="start_date" class="input-datepicker"></div>
			<div id="end_date" class="input-datepicker"></div>
		</fieldset>
	</div>
</tal:block>

<tal:block metal:define-macro="edit_project" i18n:domain="teke">
    <div id="edit-project" class="teke-dialog-form" title="Edit Project" i18n:attributes="title">
		<fieldset>
			<label for="title" i18n:translate="">Title</label>
			<input type="text" name="title" class="text ui-widget-content ui-corner-all" value="" tal:attributes="value project/getTitle" />
			<label for="goal" i18n:translate="">Goal (255 characters, plaintext)</label>
			<textarea rows="3" cols="50" name="goal" class="text ui-widget-content ui-corner-all" tal:content="project/goal"></textarea>
		</fieldset>
	</div>
</tal:block>

<tal:block metal:define-macro="add_document" i18n:domain="teke">
    <div id="add-document" class="teke-dialog-form" title="Create new Document" i18n:attributes="title">
		<fieldset>
			<label for="title" i18n:translate="">Document title</label>
			<input type="text" name="title" class="text ui-widget-content ui-corner-all" />
			<label for="url" i18n:translate="">Document URL</label>
			<input type="text" name="url" class="text ui-widget-content ui-corner-all" />
			<label for="notes" i18n:translate="">Notes (255 characters, plaintext)</label>
		    <textarea name="notes" class="text ui-widget-content ui-corner-all"></textarea>
		</fieldset>
	</div>
</tal:block>

<tal:block metal:define-macro="add_document_version" i18n:domain="teke">
    <div id="add-document" class="teke-dialog-form" title="Add new Document Version" i18n:attributes="title">
		<fieldset>
			<label for="title" i18n:translate="">Document title</label>
			<input type="text" name="title" class="text ui-widget-content ui-corner-all" />
			<label for="url" i18n:translate="">Document URL</label>
			<input type="text" name="url" class="text ui-widget-content ui-corner-all" />
            <label for="notes" i18n:translate="">Notes (255 characters, plaintext)</label>
		    <textarea name="notes" class="text ui-widget-content ui-corner-all"></textarea>
		</fieldset>
	</div>
</tal:block>

<tal:block metal:define-macro="add_task" i18n:domain="teke">
    <div id="add-task" class="teke-dialog-form" title="Add new Task" i18n:attributes="title">
		<fieldset>
			<label for="title" i18n:translate="">Task title</label>
			<input type="text" name="title" id="title" class="text ui-widget-content ui-corner-all" />
			<label for="description" i18n:translate="">Task description</label>
			<input type="text" name="description" id="description" class="text ui-widget-content ui-corner-all" />
		</fieldset>
	</div>
</tal:block>

<tal:block metal:define-macro="add_resource" i18n:domain="teke">
    <div id="add-resource" class="teke-dialog-form" title="Add new Resource" i18n:attributes="title">
		<fieldset>
			<label for="title" i18n:translate="">Resource title</label>
			<input type="text" name="title" id="title" class="text ui-widget-content ui-corner-all" />
			<label for="description" i18n:translate="">Resource description</label>
			<input type="text" name="description" id="description" class="text ui-widget-content ui-corner-all" />
			<label for="url" i18n:translate="">Resource URL</label>
			<input type="text" name="url" id="url" class="text ui-widget-content ui-corner-all" />
			<label for="resource_type" i18n:translate="">Resource Type</label>
			<select name="resource_type" tal:define="types php:Resource::getResourceTypes()">
				<tal:block repeat="type types">
				    <option value="" tal:attributes="value repeat/type/key" tal:content="type"></option>
				</tal:block>
			</select>
		</fieldset>
	</div>
</tal:block>

<tal:block metal:define-macro="add_participant" i18n:domain="teke">
    <div id="add-participant" class="teke-dialog-form" title="Add Participant" i18n:attributes="title">
		<fieldset>
			<label for="criteria" i18n:translate="">Search Criteria</label>
			<input type="text" name="criteria" class="text ui-widget-content ui-corner-all" />
			<div name="search_results" class="participant-search-results">
			</div>
		</fieldset>
	</div>
</tal:block>

<tal:block metal:define-macro="change_role" i18n:domain="teke" define="roles teke/getAvailableRoles">
    <div id="change-role" class="teke-dialog-form" title="Change Role" i18n:attributes="title">
		<fieldset>
			<label tal:content="user/getFullname"></label>
			<label for="criteria" i18n:translate="">Role</label>
			<select name="role">
				<tal:block repeat="role roles">
				    <tal:block condition="php:user.getRole() EQ repeat.role.key">
				        <option value="" selected="selected" tal:attributes="value repeat/role/key" tal:content="role"></option>
					</tal:block>
                    
					<tal:block condition="not: php:user.getRole() EQ repeat.role.key">
				        <option value="" tal:attributes="value repeat/role/key" tal:content="role"></option>
					</tal:block>
				</tal:block>
			</select>
		</fieldset>
	</div>
</tal:block>

<tal:block metal:define-macro="add_milestone" i18n:domain="teke" define="colors php:Milestone::getAvailableColors();">
    <div id="add-milestone" class="teke-dialog-form" title="Add new Milestone" i18n:attributes="title">
		<fieldset>
			<label for="title" i18n:translate="">Milestone title</label>
			<input type="text" name="title" class="text ui-widget-content ui-corner-all" />
			<div name="milestone_date" class="input-datepicker"></div>
			<div class="clearfloat"></div>
			<label for="flag_color" i18n:translate="">Color</label>
			<select name="flag_color">
				<tal:block repeat="color colors">
				    <option value="" tal:attributes="value repeat/color/key" tal:content="color"></option> 
				</tal:block>
			</select>
			<label for="notes" i18n:translate="">Notes (255 characters, plaintext)</label>
			<textarea name="notes" class="text ui-widget-content ui-corner-all"></textarea>
		</fieldset>
	</div>
</tal:block>

<tal:block metal:define-macro="edit_milestone" i18n:domain="teke" define="colors php:Milestone::getAvailableColors();">
    <div id="edit-milestone" class="teke-dialog-form" title="Edit Milestone" i18n:attributes="title">
		<fieldset>
			<input type="hidden" name="id" value="" tal:attributes="value milestone/getId" />
			<label for="title" i18n:translate="">Milestone title</label>
			<input type="text" name="title" class="text ui-widget-content ui-corner-all" value="" tal:attributes="value milestone/getTitle"/>
			<label for="milestone_date" i18n:translate="">Date</label>
			<input type="text" readonly="readonly" name="milestone_date" value="" tal:attributes="value php:format_date_for_js(milestone.getMilestoneDate())" />
			<label for="flag_color" i18n:translate="">Color</label>
			<select name="flag_color">
				<tal:block repeat="color colors">
				    <tal:block condition="php:milestone.getFlagColor() EQ repeat.color.key">
					    <option value="" selected="selected" tal:attributes="value repeat/color/key" tal:content="color"></option>
					</tal:block>

					<tal:block condition="not: php:milestone.getFlagColor() EQ repeat.color.key">
					    <option value="" tal:attributes="value repeat/color/key" tal:content="color"></option>
					</tal:block>
				</tal:block>
			</select>
			<label for="notes" i18n:translate="">Notes (255 characters, plaintext)</label>
			<textarea name="notes" class="text ui-widget-content ui-corner-all" tal:content="milestone/notes"></textarea>
		</fieldset>
	</div>
</tal:block>

<tal:block metal:define-macro="add_project_comment" i18n:domain="teke">
    <div id="add-project-comment" class="teke-dialog-form" title="Add new Comment" i18n:attributes="title">
		<fieldset>
			<label for="content" i18n:translate="">Comment (255 characters, plaintext)</label>
			<textarea name="content" class="text ui-widget-content ui-corner-all"></textarea>
			<div name="comment_date" class="input-datepicker"></div>
		</fieldset>
	</div>
</tal:block>

<tal:block metal:define-macro="edit_project_comment" i18n:domain="teke">
    <div id="edit-project-comment" class="teke-dialog-form" title="Edit Comment" i18n:attributes="title">
		<fieldset>
			<input type="hidden" name="id" value="" tal:attributes="value comment/getId" />
			<label for="content" i18n:translate="">Comment (255 characters, plaintext)</label>
			<textarea name="content" class="text ui-widget-content ui-corner-all" tal:content="comment/content"></textarea>
            <label for="comment_date" i18n:translate="">Date</label>
			<input type="text" readonly="readonly" name="comment_date" value="" tal:attributes="value php:format_date_for_js(comment.getCommentDate())" />

		</fieldset>
	</div>
</tal:block>
