<tal:block metal:define-macro="main_navigation" i18n:domain="teke">
    <div id="main_navigation_content" tal:define="items teke/get_main_navigation_items | NULL">
        <ul class="vertical_menu">
            <tal:block repeat="item items">
                <li tal:define="current item/current | NULL" tal:attributes="class php:current?'current':''">
                    <a href="" tal:define="current item/current | NULL; level item/level | php:0; class php:current?'current level_' . level:'level_' . level" tal:attributes="class class; href string:${WWW_ROOT}${item/url}" i18n:translate="item/title">Item 1</a>
                </li>  
            </tal:block>
        </ul>
    </div>	
</tal:block>
