<tal:block metal:define-macro="message">
    <div class="single-message">
        <img src="" alt="profile_image" tal:attributes="src message/getCreatorObject/getImageURL" />
        <tal:block metal:use-macro="outputs.html/date" tal:define="value php:strtotime(message.getCreated())" />
        <tal:block content="message/getBody" />
    </div>
</tal:block>

<tal:block metal:define-macro="member">
    <a href="" class="project-member" title="" tal:attributes="href member/getURL; title member/getFullname">
		<img src="" alt="profile_image" tal:attributes="src member/getImageURL" />
	</a>
</tal:block>

<tal:block metal:define-macro="task">
    <div class="single-task ui-corner-all" title="" tal:content="task/getTitle" tal:attributes="title task/getDescription"></div>
</tal:block>
