<tal:block metal:define-macro="message">
    <div class="single-message">
		<div class="single-message-image">
            <img src="" alt="profile_image" tal:attributes="src activity/getCreatorObject/getImageURL" />
	    </div>
		<div class="single-message-content">
            <tal:block metal:use-macro="outputs.html/date" tal:define="value php:strtotime(activity.getCreated())" />
            <tal:block content="activity/getBody" />
	    </div>
    </div>
</tal:block>

<tal:block metal:define-macro="activity">
    <tal:block condition="php:activity.getActivityType() == 'message'">
	    <tal:block metal:use-macro="project.html/message" />
	</tal:block>

	<tal:block condition="php:activity.getActivityType() == 'activity'">
	    <div class="single-activity">
			<div class="single-activity-image">
                <img src="" alt="profile_image" tal:attributes="src activity/getCreatorObject/getImageURL" />
			</div>
			<div class="single-activity-content">
                <tal:block metal:use-macro="outputs.html/date" tal:define="value php:strtotime(activity.getCreated())" />
				<tal:block content="structure activity/getBody" />
			</div>
		</div>
	</tal:block>
</tal:block>

<tal:block metal:define-macro="member" define="showid showid | true">
    <div id="" class="project-member" data-id="" tal:attributes="id php:(showid) ? 'project-member-'.member.getId() : ''; data-id member/getId">
        <a href="" title="" tal:attributes="href member/getURL; title member/getFullname">
		    <img src="" alt="profile_image" tal:attributes="src member/getImageURL" />
	    </a>
    </div>
</tal:block>

<tal:block metal:define-macro="task">
    <div id="" data-id="" class="single-task ui-corner-all" tal:attributes="id string:project-task-${task/getId}; data-id task/getId">
		<span class="task-title" title="" tal:content="task/getTitle" tal:attributes="title task/getDescription"></span>
		<span class="teke-toggler teke-slide-toggler project-side-widget-control"></span>
		<div class="teke-togglable">
		    <div class="task-members" tal:define="members task/getAssociatedMembers; showid false">
				<tal:block repeat="member members">
				    <tal:block metal:use-macro="member" />
				</tal:block>
		    </div>
		    <div class="task-resources" tal:define="resources task/getAssociatedResources; showid false">
				<tal:block repeat="resource resources">
				    <tal:block metal:use-macro="resource" />
				</tal:block>
		    </div>
	    </div>
    </div>
</tal:block>

<tal:block metal:define-macro="resource" define="showid showid | true">
    <div id="" class="project-resource" data-id="" tal:attributes="id php:(showid) ? 'project-resource-'.resource.getId() : ''; data-id resource/getId">
        <img src="" title="" alt="resource" class="teke-tooltip" tal:attributes="src resource/getResourceTypeURL; title resource/getTitle" />
	    <div class="teke-tooltip-content">
		    <tal:block condition="not:resource/getURL">
		        <label tal:content="resource/getTitle"></label>
		    </tal:block>
		    <tal:block condition="resource/getURL">
		        <label>
		            <a href="" target="_blank" tal:attributes="href resource/getURL" tal:content="resource/getTitle"></a>
		        </label>
		    </tal:block>
		    <br />
		    <tal:block condition="resource/getDescription" content="resource/getDescription" />
	    </div>
    </div>
</tal:block>
