<tal:block metal:use-macro="main.html/main" i18n:domain="teke" tal:omit-tag="">

    <tal:block metal:fill-slot="content_body">
        <tal:block condition="teke/is_logged_in">
    
        <tal:block define="user teke/handler/getUserByUsername;
                           first_name input_values/first_name | user/first_name | nothing;
                           last_name input_values/last_name | user/last_name | nothing;
                           email input_values/email | user/email | nothing;
                           language input_values/language | user/language | nothing;">
        
            <form id="user_settings_form" name="user_settings_form" class="dataform" method="post" action="index.php" tal:attributes="action php:WWW_ROOT . 'actions/update_user_settings.php'">
                <div class="row">
                    <label i18n:translate="">First name</label>
                    <input type="text" name="first_name" value="" tal:attributes="value first_name"/>
                </div>
                <div class="row">
                    <label i18n:translate="">Last name</label>
                    <input type="text" name="last_name" value="" tal:attributes="value last_name" />
                </div>
                <div class="row">
                    <label i18n:translate="">Email</label>
                    <input type="text" name="email" value="" tal:attributes="value email" />
                </div>
                <div class="row">
                    <label i18n:translate="">Language</label>
					<tal:block metal:use-macro="languages.html/language_select" tal:define="value language" />
                </div>
                <br />
                <input type="submit" value="Save" i18n:attributes="value" />
                <input type="hidden" name="id" value="" tal:attributes="value user/id | NULL" />
               
            </form>

        </tal:block>

        </tal:block>
    </tal:block>
    
</tal:block>
