/* RESET DEFAULT */
* {
    padding: 0;
    margin: 0;
}

/* GENERAL */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
	background: #fcfcfc;
	height: 100% !imortant;
	min-height: 100%;
	line-height: 1;
	background: #ffffff;
}

body img {
	border: none;
}

h3 {
    padding-bottom: 10px;
}

a {
    text-decoration: none;
}

textarea {
    resize: none;
}

input[type="submit"] {
    border: 1px solid #666666;
}

tr.odd {
    background-color: #EFEF9D;
}

/* TOP BAR */
#top_bar {
	background: #A4A4A4;
	height: 25px;
	width: 100%;
}

#top_bar_left {
	float: left;
	color: #fff;
	padding-left: 20px;
	padding-top: 3px;
}

#top_bar_right {
	float: right;
	color: #fff;
	padding-right: 20px;
    padding-top: 3px;
}

#top_bar a {
    color: #ffffff;
}

/*CONTAINER*/
#container {
	width: 100%;
	margin-top: 30px;
}

/*NAVIGATION*/
#main_navigation {
    float:left;
    width: 150px;
}

#main_navigation .level_0{
    margin: 0px;
}

#main_navigation .level_1{
    margin: 10px;
}

#main_navigation .level_2{
    margin: 20px;
}

#main_navigation .current{
    font-weight: bold;
}

.vertical_menu {
    list-style: none;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 0px;
}

.vertical_menu li {
    border-bottom: 1px dotted black;
}

#navigation {
    margin-left: 150px;
}

.horizontal_menu {
    list-style: none;
    margin-left: 10px;
    padding-left: 0px;
    margin-bottom: 10px;
}

.horizontal_menu li {
    margin-right:20px;
    display: inline;
}

/*CONTENT*/
#content {
    padding: 10px;
	/*position: relative;*/ 
	width: 870px;
	margin-top: -3px;
	/*background: #F1EFE2;*/
	min-height: 400px;
	margin-left: 150px;
	margin-right: auto;
	border: 1px solid #F2C968;
}

/*MESSAGES*/
#system_messages {
	width: 100%;
	z-index: 10000;
	position: fixed;
	top: 5px;
}

.system_message_success {
	border: 2px solid #BACF83;
	background: #D3EC94;
	color: #000000;
	cursor: pointer;
	width: 878px;
	margin-left: 150px;
	margin-right: auto;
    height: 15px;
    padding: 5px;
}

.system_message_error {
	border: 2px solid #C44040;
	background: #DE5959;
	color: #000000;
	cursor: pointer;
	width: 878px;
    margin-left: 150px;
	margin-right: auto;
    height: 15px;
    padding: 5px;
}

.system_message_close {
	float: right;
    text-decoration: underline;
}

/* 	PASSWORD STRENGTH  */
.testresult{
	font-weight: bold;
	font-size: 11px;
	color: #666;
	padding: 0px 0px 12px 10px;
}

.badPass{
    color: #bc0000;
}

.goodPass{
    color: #bc9f00;
}

.strongPass{
    color: #73bc00;
}

/* USER */
.dataform .input, .dataform input[type="submit"] {
    margin-left: 154px;
}

.dataform label {
    text-align: right;
    width: 150px;
    float: left;
    margin-right: 5px;
    padding-top: 2px;
}

/* FORMS */
.row {
    margin-top: 10px;
}

.row label {
    font-weight: bold;
}

.helptext {
    color: #76797C;
    font-size: 90%;
    margin: 0 0 0.2em;
}

/* INPUT */
form input[type="text"], form input[type="password"], form select {
    -moz-border-radius: 3px 3px 3px 3px;
    border: 1px solid #CCCCCC;
    padding: 3px;
    width: 200px;
}

.centralized {
    margin-left: auto;
    margin-right: auto;    
}

.to_middle {
    margin-top: 100px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

/* iCoworker */
.clearfloat {
	clear: both;
}

div.topbar-language-selection {
	display: inline-block;
	margin-right: 10px;
}

div#language-selection a img {
	opacity: 0.5;
	filter:alpha(opacity=50);
}

div#language-selection a.language-selected img {
	opacity: 1;
	filter:alpha(opacity=100);
}

/* INDEX */
div#index-hints {
	position: relative;
	width: 812px;
	margin: 30px auto 0 auto;
}

div#index-hints div.hint {
	height: auto;
	width: 250px;
	height: 250px;
	float: left;
	margin-right: 25px;
	border: 2px dashed grey;
}

div#index-hints div.hint:last-child {
	margin-right: 0px;
}

h1#index-heading {
	text-align: center;
}

div.index-language-selection {
	margin: 30px auto 0 auto;
	text-align: center;
}

div#index-facebook-login {
	margin: 90px auto 0 auto;
	text-align: center;
}

div#index-facebook-login img {
	width: 25px;
	height: 25px;
}

/* ADMINISTRATE */
table#administrate-users {
	width: 100%;
}

table#administrate-users th {
	background-color: #cccccc;
}

div#add-new-project-form label {
	display: block;
}

.input-datepicker {
	font-size: 10px;
}

div.input-datepicker {
	display: inline;
	float: left;
}

table#administrate-users .user-role {
	cursor: pointer;
}

/* PROJECTS */
table#all-projects {
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
}

table#all-projects td {
	border: 1px solid black;
	padding: 5px;
}

table#all-projects td.project-info {
	width: 25%;
}

table#all-projects td.project-timeline {
	width: 75%;
}

table#all-projects td.project-timeline .timeline {
	height: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #A4A4A4;
}

div.project-info-extended {
	padding-left: 5px;
}

div#projects-index-actions {
	float: right;
	margin: 5px;
}

div#projects-index-actions * {
	vertical-align: middle;
}

.project-info span.teke-toggler {
	float: right;
}

/* PROJECT */
div#single-project-content div#aside {
	width: 200px;
	float: right;
}

div#single-project-content div#aside ul {
	list-style: none;
}

div#single-project-content div#aside li fieldset {
	padding: 5px;
	background-color: white;
}

div.single-task {
	border: 1px solid black;
	padding: 5px 10px 5px 10px;
	margin: 5px 10px 5px 10px;
}

div#project-diary-and-messages-flow {
	border: 1px solid black;
	height: 150px;
	overflow: auto;
}

div#project-diary-and-messages-add * {
	vertical-align: middle;
}

div#project-diary-and-messages-add, div#project-diary-and-messages-filter {
	margin: 5px 10px 5px 10px;
}

div.single-message, div.single-activity {
	margin: 2px;
	min-height: 25px;
	clear: both;
}

div.single-message .single-message-image, div.single-activity .single-activity-image {
	float: left;
}

div.single-message .single-message-image img, div.single-activity .single-activity-image img {
	width: 25px;
	height: 25px;
}

div.single-message .single-message-content, div.single-activity .single-activity-content {
	float: left;
	width: 138px;
}

.project-side-widget-control {
	float: right;
}

#add-project div#end_date {
	margin-left: 15px;
}

#project-participants img {
	width: 25px;
	height: 25px;
}

div.participant-search-results {
	max-height: 100px;
	overflow: auto;
}

div.single-participant-result {
	margin: 2px;
}

div.single-participant-result img {
	width: 25px;
	height: 25px;
	vertical-align: middle;
	cursor: pointer;
}

/* Main timeline holder */
div#project-timeline {
	width: 600px;
	padding-left: 30px;
	padding-right: 30px;
	height: 500px;
	overflow: auto;
	position: relative;
}

/* Project timeline representation */
div#project-timeline-project {
	width: 600px;
	height: 5px;
	background-color: #A4A4A4;
	margin-top: 50px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	z-index: 2;
	cursor: pointer;
}

/* Milestone flag on project timeline */
div#project-timeline-project .milestone {
	width: 16px;
	height: 16px;
	background: transparent;
	display: inline;
	position: absolute;
	top: -11px;
}

/* Project beginning and date on timeline */
div#project-timeline-project .beginning, div#project-timeline-project .end {
	width: 16px;
	height: 15px;
	background: transparent;
	display: inline;
	position: absolute;
	top: -6px;
}

/* Date positioning above elements on timeline */
div#project-timeline-project .timeline-above-date {
	position: absolute;
	display: inline;
	top: -20px;
	left: -16px;
}

/* Change placement for milestone objects */
div#project-timeline-project .milestone .timeline-above-date {
	left: -10px;
	top: -15px;
}

/* A line that will mark NOW point */
div#project-timeline .now {
	width: 1px;
	height: 100%;
	background-color: black;
	position: absolute;
	display: inline;
	top: 0px;
	z-index: 1;
}

/* TOOLTIPS */

.teke-tooltip-content {
	display: none;
}

/* TOGGLER */
.teke-toggler {
	display: inline-block;
	background: transparent url(../graphics/arrow_right.png);
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.teke-toggler-toggled {
	display: inline-block;
	background: transparent url(../graphics/arrow_down.png);
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.teke-togglable {
	display: none;
	clear: both;
}
/* ADD AND REMOVE */
.teke-add-button {
	display: inline-block;
	background: transparent url(../graphics/add.png);
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.teke-delete-button {
	display: inline-block;
	background: transparent url(../graphics/delete.png);
	width: 16px;
	height: 16px;
	cursor: pointer;
}

/* DIALOGS */
div.teke-dialog-form label {
	display: block;
}

div.teke-dialog-form fieldset {
	padding: 10px;
}

div.teke-dialog-form input[type=text] {
	width: 98%;
}
