<tal:block metal:use-macro="main.html/main" tal:omit-tag="" tal:define="is_logged_in teke/is_logged_in | nothing; base php:is_logged_in?false:true; language teke/get_language" i18n:domain="teke">

    <tal:block tal:condition="not:is_logged_in" metal:fill-slot="content_body">

	    <h1 id="index-heading" i18n:translate="SITE_NAME"></h1>

		<div id="index-hints">
			<div class="hint">
				<div class="hint-text" i18n:translate="">Enter your Goals</div>
			</div>
			<div class="hint">
				<div class="hint-text" i18n:translate="">Plan your Work</div>
			</div>
			<div class="hint">
				<div class="hint-text" i18n:translate="">Collaborate</div>
			</div>
		</div>
		<div class="clearfloat"></div>

		<div id="language-selection" class="index-language-selection">
            <input type="radio" name="language" value="et" tal:attributes="checked php:language=='et'?'checked':''" />
            IN ESTONIAN
            <input type="radio" name="language" value="ru" tal:attributes="checked php:language=='ru'?'checked':''" />
			IN RUSSIAN
            <input type="radio" name="language" value="en" tal:attributes="checked php:language=='en'?'checked':''"/>
            IN ENGLISH
		</div>

		<div id="index-facebook-login" tal:condition="not:is_logged_in">
			<a href="" title="Login with Facebook" tal:attributes="href php:teke.facebook.getLoginUrl(array('scope' => 'email', 'redirect_uri' => teke.get_site_url() . 'actions/login.php'))" i18n:attributes="title">
				<img src="" alt="facebook logo" tal:attributes="src string:${WWW_ROOT}views/graphics/f_logo.png" />
			</a>
		</div>

    </tal:block>

	<tal:block tal:condition="is_logged_in" metal:fill-slot="content_body">
	    <button id="add-new-project" i18n:translate="">Add New Project</button>
	    <div id="add-new-project-form" title="Add New Project" i18n:attributes="title">
			<fieldset>
				<label for="title" i18n:translate="">Title</label>
				<input type="text" name="title" id="title" class="text ui-widget-content ui-corner-all" />
				<label for="goal" i18n:translate="">Goal</label>
				<textarea rows="3" cols="50" name="goal" id="goal" class="text ui-widget-content ui-corner-all"></textarea>
				<label for="start_end_date" i18n:translate="">Start/end dates</label>
				<div id="start_date" class="input-datepicker"></div>
				<div id="end_date" class="input-datepicker"></div>
				<script type="text/javascript">
					var dates = $('#start_date, #end_date').datepicker({
                        onSelect: function( selectedDate ) {
						    var option = this.id == "start_date" ? "minDate" : "maxDate",
							instance = $(this).data("datepicker"),
							date = $.datepicker.parseDate(
								instance.settings.dateFormat ||
								$.datepicker._defaults.dateFormat,
								selectedDate, instance.settings
								);
							dates.not(this).datepicker("option", option, date);
                        }
					});
					$('#add-new-project-form').dialog({
					    autoOpen: false,
						height: 500,
						width: 500,
						modal: true,
						buttons: {
						    "Add": function() {
                                $(this).find('input:text').removeClass('ui-state-error');
						        $(this).find('textarea').removeClass('ui-state-error');
							    $(this).find('.input_datepicker').removeClass('ui-state-error');
								var current_form = $(this);
							    $.ajax({
                                    cache: false,
									type: "POST",
									url: teke.get_site_url()+"actions/create_project.php",
									data: {'title': $('#title').val(), 'goal': $('#goal').val(), 'start_date': $('#start_date').datepicker("getDate").toUTCString(), 'end_date': $('#end_date').datepicker('getDate').toUTCString()},
									dataType: "json",
									success: function(data) {
									    console.log(data);
										if (data.state == 0) {
											current_form.dialog("close");
											if (data.forward != "") {
											    window.location = data.forward;
											}
											if (data.messages != "") {
											    teke.replace_system_messages(data.messages);
											}
										} else {
										    for (var key in data.errors) {
											    $('#'+data.errors[key]).addClass('ui-state-error');
											}
                                            if (data.messages != "") {
											    teke.replace_system_messages(data.messages);
											}
										}
									},
                                    error: function() {
									    console.log("error occured");
										alert("error occured");
										current_form.dialog("close");
                                    }
							    });
							    //$(this).dialog('close');
							},
							"Return": function() {
							    $(this).dialog('close');
							}
						},
						close: function() {
						    $(this).find('input:text').val("").removeClass('ui-state-error');
						    $(this).find('textarea').val("").removeClass('ui-state-error');
							$(this).find('.input_datepicker').datepicker("setDate", '').removeClass('ui-state-error');
						}
				    });
					$('#add-new-project').button().click(function(e) {
						$('#add-new-project-form').dialog('open');
				    });
				</script>
			</fieldset>
		</div>

		<table id="all-projects" tal:define="projects php: ProjectManager::getProjects()">
			<tbody>
				<tr tal:repeat="project projects">
					<td class="project-info">
						<a href="#" tal:attributes="href project/getURL" tal:content="project/getTitle"></a>
						<span class="teke-toggler"></span>
						<div class="teke-togglable project-info-extended">
							<tal:block metal:use-macro="outputs.html/plaintext" define="value project/getGoal" />
							<div>
								<label i18n:translate="">Start date</label>
								<tal:block metal:use-macro="outputs.html/date" define="value php:strtotime(project.getStartDate())" />
							</div>
							<div>
								<label i18n:translate="">End date</label>
								<tal:block metal:use-macro="outputs.html/date" define="value php: strtotime(project.getEndDate())" />
							</div>
							<div>
								<label i18n:translate="">Members</label>
								<tal:block content="project/getmembersCount" />
							</div>
						</div>
					</td>
					<td class="project-timeline">
						I AM A TIMELINE, I AM NOT DONE YET
					</td>
				</tr>
			</tbody>
		</table>
	</tal:block>
    
</tal:block>
