<tal:block metal:use-macro="main.html/main" tal:omit-tag="" tal:define="is_logged_in teke/is_logged_in | nothing; base php:is_logged_in?false:true; language teke/get_language" i18n:domain="teke">

    <tal:block tal:condition="not:is_logged_in" metal:fill-slot="content_body">

	    <h1 id="index-heading" i18n:translate="SITE_NAME"></h1>

		<div id="index-hints">
			<div class="hint">
				<div class="hint-text" i18n:translate="">Enter your Goals</div>
			</div>
			<div class="hint">
				<div class="hint-text" i18n:translate="">Plan your Work</div>
			</div>
			<div class="hint">
				<div class="hint-text" i18n:translate="">Collaborate</div>
			</div>
		</div>
		<div class="clearfloat"></div>

		<div id="index-language-selction">
            <input type="radio" name="language" value="et" onChange="setLanguage('et')" tal:attributes="checked php:language=='et'?'checked':''" />
            IN ESTONIAN
            <input type="radio" name="language" value="ru" onChange="setLanguage('ru')" tal:attributes="checked php:language=='ru'?'checked':''" />
			IN RUSSIAN
            <input type="radio" name="language" value="en" onChange="setLanguage('en')" tal:attributes="checked php:language=='en'?'checked':''"/>
            IN ENGLISH
		</div>

		<tal:block xmlns:fb="http://www.facebook.com/2008/fbml">
		    <div id="index-facebook-login">
		        <fb:login-button autologoutlink="false" show-faces="false" width="200" max-rows="1" scope="email"></fb:login-button>
		    </div>
		</tal:block>
    
    </tal:block>
    
</tal:block>
