<span metal:use-macro="main.html/main" tal:omit-tag="" i18n:domain="teke">

    <tal:block metal:fill-slot="content_body">

        <form name="loginform" method="post" action="index.php" tal:attributes="action php:WWW_ROOT . 'actions/login.php'">
    
            <div align="center">            
                <table align="center" id="loginbox">
                   <tr>
                       <td i18n:translate="">Username</td>
                       <td><input type="text" name="username" id="username" /></td>
                   </tr>
                   <tr>
                       <td i18n:translate="">Password</td>
                       <td><input type="password" name="password" id="password" /></td>
                   </tr>
                   <tr>
                       <td></td>
                       <td>
                           <input type="submit" name="Login" value="Login" i18n:attributes="value Login"/>
                           <a href="#" tal:attributes="href php:WWW_ROOT . 'password_recovery'">Forgot password?</a>
                       </td>
                   </tr>
               </table>             
                Not yet having a user account?
                <a href="#" tal:attributes="href php:WWW_ROOT . 'register'">Register</a>
           </div>
           
       </form>
        
    </tal:block>

</span>
