<tal:block metal:use-macro="main.html/main" i18n:domain="teke">
    
    <tal:block metal:fill-slot="header">
        <script type="text/javascript" src="" tal:attributes="src string:${WWW_ROOT}views/js/password_strength_plugin.js"></script>
        <script type="text/javascript">
            $(document).ready( function() {
                $(".password_test").passStrength({
                    userid: ""    
                });
            });
        </script>
    </tal:block>


    <tal:block metal:fill-slot="content_body"
        tal:define="email request/email | input_values/email | nothing;
                    token request/token | input_values/token | nothing;
                    is_valid_token php: teke.user.isValidToken(email, token);">

        <form name="passwordresetform" id="passwordresetform" method="post" action="index.php" tal:attributes="action php:WWW_ROOT . 'actions/password_reset.php'" tal:condition="is_valid_token">

            <h3 i18n:translate="">Change your password</h3>
            <input type="hidden" id="email" name="email" value="" tal:attributes="value email" />
            <input type="hidden" id="token" name="token" value="" tal:attributes="value token" />
            <label i18n:translate="">New Password</label>
            <input type="password" name="new_password" class="password_test" /><br />
            <label i18n:translate="">New Password Confirm</label>
            <input type="password" name="new_password_confirm" />
            <br /><br />
            <input type="submit" value="Change" i18n:attributes="value"/>
           
        </form>

        <div tal:condition="not: is_valid_token" class="password_reset_not_valid">
            <span tal:omit-tag="" i18n:translate="string:_password_reset_link_not_valid">This password reset link is no longer valid.</span>
            <a href="#" tal:attributes="href string:${WWW_ROOT}password_recovery" i18n:translate="">Request a new one.</a>
        </div>

    </tal:block>

</tal:block>
