<tal:block metal:use-macro="main.html/main" i18n:domain="teke">

    <tal:block metal:fill-slot="content_body">

        <form name="passwordrecoveryform" method="post" action="index.php" tal:attributes="action php:WWW_ROOT . 'actions/password_recovery.php'">

            <h3 i18n:translate="">Forgot your password?</h3>
            <div i18n:translate="string:_password_recovery_helptext">            
                To reset your password, enter either your username or email address. We will send you an email to enable you to reset your password.
            </div>

            <input type="text" name="user_identificator" />
            <br /><br />
            <input type="submit" value="Send" i18n:attributes="value" />

           
       </form>
        
    </tal:block>

</tal:block>
