<tal:block metal:use-macro="main.html/main" i18n:domain="teke" tal:omit-tag="">

    <tal:block metal:fill-slot="content_body">

    <form name="examineesform" method="post" action="index.php" 
        tal:attributes="action php:WWW_ROOT . 'actions/generate_examinees.php'"
        tal:define="range_start input_values/range_start | nothing;
                    range_end input_values/range_end | nothing;
                    groups teke/group/getGroups | nothing;
                    group_id input_values/group_id | nothing;
                    group_name input_values/group_name | nothing;"
        >
            <span i18n:translate="">Generate examinees</span>

            <br /><br />
            <div>
                <span i18n:translate="">Range start</span><br />
                <input type="text" name="range_start" tal:attributes="value range_start" />
            </div>
            <div>
                <span i18n:translate="">Range end</span><br />
                <input type="text" name="range_end" tal:attributes="value range_end" />
            </div>
            <div>
                <br />
                <span i18n:translate="">Choose group</span><br />
                <select name="group">
                    <tal:block repeat="group groups">
                        <option tal:attributes="value group/id; selected php:group_id==group.id?'selected':''" tal:content="group/name"></option>
                    </tal:block>
                    <option value="new" tal:attributes="selected php:group_id=='new'?'selected':''" i18n:translate="">... or create a new one</option>
                </select>
                <div>
                    <br />
                    <input type="text" name="group_name" tal:attributes="value group_name" />
                </div>
            </div>
            <br />
            <input type="submit" value="Generate" i18n:attributes="value" />
        </form>

    </tal:block>
    
</tal:block>
