<tal:block metal:use-macro="main.html/main" i18n:domain="teke" tal:omit-tag="">

    <tal:block metal:fill-slot="content_body">

        <form name="examinees_search" method="post" action="index.php"
            tal:attributes="action php:WWW_ROOT . 'actions/examinees_search.php'"   
            tal:define="user_groups teke/group/getGroups | nothing;
                        group_id input_values/group_id | nothing;
                       ">
            <select name="group">
                <option value="all" tal:attributes="selected php:group_id=='all'?'selected':''" i18n:translate="">select group</option>
                <tal:block repeat="group user_groups">
                    <option tal:attributes="value group/id; selected php:group_id==group.id?'selected':''" tal:content="group/name"></option>
                </tal:block>
            </select>
            <input type="submit" value="Search" name="search_button" i18n:attributes="value" />
            <br /><br />
        </form>

        <form name="examinees" method="post" action="index.php"
            tal:attributes="action php:WWW_ROOT . 'actions/examinees_actions.php'"
            tal:define="examinees php:teke.examinee.searchExaminees(input_values);"
            tal:condition="examinees">
            <table>
                <tr>
                    <th><input type="checkbox" title="check all" onclick="toggleSelect(this, 'examinee')" /></th>
                    <th i18n:translate="">Username</th>
                    <th i18n:translate="">Password</th>
                </tr>
                <tr tal:repeat="examinee examinees" tal:attributes="class php: repeat.examinee.odd ? 'odd' : 'even'">
                    <td><input type="checkbox" name="examinee" tal:attributes="value examinee/id" /></td>
                    <td tal:content="examinee/username"></td>
                    <td tal:content="examinee/password"></td>
                </tr>
            </table>
            <br />
            <input type="submit" name="delete_button" value="Delete" i18n:attributes="value" />
        </form>

    </tal:block>
    
</tal:block>
