<tal:block condition="php:teke.is_logged_in() AND is_array(teke.page) AND sizeof(teke.page) GE 2">

    <tal:block define="project php:ProjectManager::getProjectById(teke.page[1]); filter php:(isset(teke.page[2]) AND in_array(teke.page[2], array('everything', 'activities', 'messages'))) ? teke.page[2] : 'everything'" condition="php: (project instanceof Project) AND project.isMember(get_logged_in_user_id())">

	    <tal:block condition="php:filter EQ 'everything'">
            <tal:block define="flow php:ProjectManager::getProjectActivity(project.getId())">
	            <tal:block repeat="activity flow">
			        <tal:block metal:use-macro="project.html/activity" />
		        </tal:block>
			</tal:block>
	    </tal:block>

		<tal:block condition="php:filter EQ 'activities'">
		    <tal:block define="flow php:ProjectManager::getProjectActivities(project.getId())">
                <tal:block repeat="activity flow">
			        <tal:block metal:use-macro="project.html/activity" />
		        </tal:block>
			</tal:block>
		</tal:block>

		<tal:block condition="php:filter EQ 'messages'">
            <tal:block define="flow php:ProjectManager::getProjectMessages(project.getId())">
	            <tal:block repeat="activity flow">
			        <tal:block metal:use-macro="project.html/activity" />
		        </tal:block>
			</tal:block>
		</tal:block>

    </tal:block>

</tal:block>
